<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Clima</h1>
    <p>.</p>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span> LONDON</a>
    <a type="button" class="btn btn-lg btn-primary" onclick="GET"><span class="glyphicon glyphicon-download"></span> Buscar</a>
  </div>
</div>
<div class="container">
  
  <hr>
  <div class="row">
    <div class="col-md-6">
        
        <p th:text="${science}"/>
    </div>
      
    <div>        
        <script>
            var txt = '${science}'
            var obj = JSON.parse(txt);
            document.getElementById("demo").innerHTML = "name: " + obj.name + ", age: " + obj.age;
        </script>        
    </div>
    <div class="col-md-6">

    </div>
  </div> <!-- row -->

</div>

</body>
</html>
